.about-bold-text {
    font-weight: bold;
    font-size: 24px;

}

.about-text-div {
    margin: 35px;
    max-width: 40%;
}

.about-p-text {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.mike-image-div {
    margin-top: 45px;
    margin-right: 35px;
    margin-bottom: 100px;
    max-width: 50%;
    min-width: 50%;
}

.wrench-image-div {
    margin-top: 125px;
}

.wrench-image {
    width: 100%;
    background-repeat: none;
    /* background-size: contain; */
}

.about-h1 {
    margin-top: 15px;
    /* margin-bottom: 15px; */
}

.about-text-div hr {
    margin-bottom: 15px;
    margin-top: 15px;
}

.mike-image {
    margin-left: 125px;
    max-width: 75%;
    min-width: 75%;
}