* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Zilla Slab', serif;
    border-color: rgb(112, 112, 112);
}

.text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
}

.opening-p {
    /* margin-top: 50px; */
    max-width: 30%;
    font-size: 36px;
    text-align: center;
}

.bold-text-number {
    font-size: 36px;
    font-weight: bold;
}

.mike-pic-1 {
    margin-top: 25px;
    max-width: 400px;
    min-width: 400px;
}

.home-div {
    box-shadow: 5px 10px #888888;
}

.home-video-div,
.platte-clay-div {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex: row;
    justify-content: space-evenly;
    align-items: center;
}